.header__logo {
    border-bottom: 1px solid var(--black600);

    a {
        display: flex;
        padding: 6px 10px;
        margin: 10px;

        em {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            border: 3px solid #000;
            position: relative;
            animation: video_logo 15s 1s ease-in-out infinite;

            @keyframes video_logo {
                0% {
                    transform: rotate(0deg);
                    border-radius: 0;
                }

                50% {
                    transform: rotate(720deg);
                    border-radius: 50px;
                    color: red;
                    border-color: red;
                }

                100% {
                    transform: rotate(0deg);
                    border-radius: 0
                }
            }

            svg {
                position: absolute;
                left: 7px;
                top: 6px;
                width: 30px;
                height: 32px;
            }
        }

        span {
            font-size: 26px;
            line-height: 1;
            font-family: var(--mainfont-nexon);
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.header__menu {
    padding: 10px;

    .menu {
        border-bottom: 1px solid var(--black600);
        padding: 10px 0;

        li {
            margin-bottom: 5px;

            a {
                font-size: 1rem;
                display: block;
                line-height: 1;
                color: var(--black100);
                padding: 1rem 2rem 1rem 3rem;
                border-radius: 40px;
                position: relative;
                transition: background-color 0.2s;
                border: 1px solid transparent;

                &:hover {
                    background-color: rgba(255, 222, 222, 0.376);
                    border: 1px solid rgba(255, 222, 222, 0.694);
                }

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    position: absolute;
                    left: 1.2rem;
                    top: 0.8rem;
                }
            }

            &.active {
                a {
                    background-color: rgba(255, 222, 222, 0.376);
                    border: 1px solid rgba(255, 222, 222, 0.694);
                }
            }
        }
    }

    .keyword {
        padding: 20px 10px 10px 10px;

        li {
            margin-bottom: 5px;
            display: inline-block;

            a {
                font-size: 0.9rem;
                display: inline-block;
                line-height: 1;
                margin-right: 5px;
                color: var(--black300);
                padding: 0.5rem 1rem 0.5rem 1rem;
                border-radius: 40px;
                position: relative;
                transition: background-color 0.2s;
                border: 1px solid var(--black400);
                font-weight: 700;

                &:hover {
                    background-color: var(--black);
                    color: var(--white);
                    border-color: var(--black);
                }
            }

            &.active {
                a {
                    background-color: var(--black);
                    color: var(--white);
                    border-color: var(--black);
                }
            }
        }
    }
}

.header__sns {
    border-top: 1px solid var(--black600);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 18px 0 12px;
    background-color: var(--white);

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 5px 7px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media (max-width: 800px) {
    .header__logo a {
        position: fixed;
        left: -100;
      
      
        background-color: var(--white);
    }
}

@media (min-width: 2400px) {
    .header__logo a {
  
      
      
        background-color: var(--white);
    }
}